server:
    port: 28080

spring:

    datasource:
        url: jdbc:postgresql://localhost:5433/postgres
#        url: jdbc:postgresql://localhost:5433/postgres?useUnicode=yes&characterEncoding=UTF-8&serverTimezone=UTC
        username: postgres
        password: postgres
        driver-class-name: org.postgresql.Driver

    jpa:
        database-platform:
        database: postgresql
        openInView: false
        show_sql: true
        generate-ddl: false
        hibernate:
            ddl-auto: none
            naming:
                physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        properties:
            hibernate.cache.use_query_cache: false
            hibernate.generate_statistics: true

    main:
        log-startup-info: false

    liquibase:
        change-log: classpath:/db/changelog/db-changelog.xml

